
@{
    ViewBag.Title = "Login";
}

<h1> Panel de Administracion </h1>
<h3> Iniciar Sesion </h3>
<br>
<form>
    <div class="col-xs-3">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
        </div>
    </div>
    <div class="col-xs-3">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
    </div>
    <a href="/Panel" class="btn btn-default" role="button">Submit</a>
    <br>
</form>
<br>